* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color: rgb(255, 255, 255);
    color: white;
}

.logo{
    font-size: 30px;
}

.fab-fa{
    margin-left: 1rem;
    size: 2px 2px; 
    image-rendering: auto;
    block-size: 100px;

}


.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width:75%;
}

.home,
.services,
.statistics,
.process,
.hireus,
.portfolio0,
.technologies,
.contact{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-size: 19px;
    padding: -1px -3px;
    margin: 0 10px;
    cursor: pointer;
}

.home:hover,
.services:hover,
.statistics:hover,
.process:hover,
.hireus:hover,
.portfolio0:hover,
.technologies:hover,
.contact:hover{
    color: black;
}

.mobile-menu-icon{
    display: none;
}





@media screen and (max-width: 1068px ){

    .navbar{
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 110px;
        background-color: rgb(255, 255, 255);
        color: white;
    }

    .fab-fa{
        margin-left: 1rem;
        size: 2px 2px; 
        image-rendering: auto;
        block-size: 90px;
    
    }
    

    .logo{
        display: flex;
        position: absolute;
        top: 10px;
        left: 25px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(255, 255, 255);
        left: 0;
        top: 100px;
        transition: all 0.5s ease-out;
        width: 100%;
        z-index: 100;
        
    }

    .home,
    .services,
    .statistics,
    .process,
    .hireus,
    .portfolio0,
    .technologies,
    .contact{
        color: rgba(0,0,0,.5);
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: rgba(0,0,0,.5);
        background-color: rgba(0,0,0,.1);
        padding: .19rem .50rem;
        font-size: 2rem;
        line-height: 0.5;
        background-color: transparent;
        border: 1px solid ;
        border-radius: .25rem;
        right: 40px;
        top: 35px;
        cursor: pointer;
    
    }

    .mobile-menu-icon:hover{
        border-color: rgb(54, 50, 50);
    }
   


}

@media screen and (max-width: 667px) {
    .navbar{
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: rgb(255, 255, 255);
        color: white;
    }

    .fab-fa{
        margin-left: 1rem;
        size: 3px 3px; 
        image-rendering: auto;
        block-size: 60px;
    
    }
    

    .logo{
        display: flex;
        position: absolute;
        top: 10px;
        left: 25px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(230, 219, 219);
        left: 0;
        top: 120px;
        transition: all 0.5s ease-out;
        width: 100%;
        z-index: 100;
        
    }

    .home,
    .services,
    .statistics,
    .process,
    .hireus,
    .portfolio0,
    .technologies,
    .contact{
        color: rgba(0, 0, 0, 0.89);
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: rgba(0,0,0,.5);
        background-color: rgba(0,0,0,.1);
        padding: .18rem .40rem;
        font-size: 1.4rem;
        line-height: 0.5;
        background-color: transparent;
        border: 1px solid ;
        border-radius: .25rem;
        right: 40px;
        top: 27px;
        cursor: pointer;
    
    }
}